# Database
DATABASE_URL=

# Security
ENCRYPTION_KEY=
SECURITY_SALT=
VIRUSTOTAL_API_KEY=
# JWT tokens
JWT_SECRET_KEY=
JWT_REFRESH_SECRET_KEY=

# AI Models (Gemini)
GEMINI_API_KEY=
# Goggle Oauth ID
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# App Config
DEBUG=True
